.wp-menu-image img{
	width: 20px;
}
#gts-translation-order a i{
	color: #00a32a;
}
#gts-translation-order a:hover > i{
	color: #05135c;
}
#filter-form{
	padding: 10px;
	background: #bbbbbb;
	margin-top: 20px;
}