@font-face {
	font-family: 'icon';
	src: url('../../fonts/icon.eot');
	src: url('../../fonts/icon.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/icon.woff') format('woff'),
	url('../../fonts/icon.ttf') format('truetype'),
	url('../../fonts/icon.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*='icon-']:before {
	display: inline-block;
	font-family: 'icon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-dash-square:before {
	content: '\0041';
}

.icon-plus-square:before {
	content: '\0042';
}

.wp-menu-image img {
	width: 20px;
}

#gts-translation-order a i {
	color: #00a32a;
}

#gts-translation-order a:hover > i,
#gts-translation-order a:hover > i.icon-dash-square {
	color: #05135c;
}

#gts-translation-order a i.icon-dash-square {
	color: #bb0000;
}

#filter-form {
	padding: 10px;
	background: #bbbbbb;
	margin-top: 20px;
}

#gts_to_post_type_select {
	text-transform: capitalize;
}

.total-table {
	margin-top: 40px;
}

.modal {
	z-index: 9999;
}

#gts_token {
	width: 450px;
}

.modal.show .modal-dialog {
	max-width: 900px;
}

.modal-body tr label {
	font-size: 13px;
}

.modal-body tr td {
	margin: 0;
	padding: 2px !important;
}

.modal-body {
	padding-left: 30px;
	padding-right: 30px;
}