.wp-menu-image img {
	width: 20px;
}

#filter-form {
	padding: 10px 10px 0 10px;
	background: #bbbbbb;
	margin: 20px 0;
}

#filter-form select,
#filter-form input[type="submit"],
#filter-form button {
	height: 34px;
}

#filter-form .col-auto {
	padding: 0 10px 10px 10px;
}

#gts-translation-order table thead th label,
#gts-translation-order table tfoot th label {
	display: none;
}

#gts_to_post_type_select {
	text-transform: capitalize;
}

.total-table {
	margin-top: 40px;
}

.modal {
	z-index: 9999;
}

#gts_token {
	width: 450px;
}

.modal.show .modal-dialog {
	max-width: 900px;
}

.modal-body tr label {
	font-size: 13px;
}

.modal-body tr td {
	margin: 0;
	padding: 2px !important;
}

.modal-body {
	padding-left: 30px;
	padding-right: 30px;
}

#gts-to-send-to-translation, #gts-to-back-to-translation {
	width: 100%;
}
